whakaaribn.egg*
__pycache__
*~
*.png
.vscode
examples/data
.cache
.ipynb_checkpoints
src/whakaaribn/data/*.zarr
*.snakemake
src/whakaaribn/data/workflows/plots
src/whakaaribn/data/workflows/data
src/whakaaribn/data/workflows/forecasts
src/whakaaribn/data/workflows/results
src/whakaaribn/data/workflows/logs
*Thumbs.db
examples
sandbox.ipynb
src/whakaaribn/data/RSAM_NZ.WIZ.10.HHZ.csv
.nfs*

