whakaaribn.egg*
__pycache__
*~
*.png
.vscode
examples/data
.cache
.ipynb_checkpoints
src/whakaaribn/data/*.zarr
*.snakemake
src/whakaaribn/data/workflow/plots
src/whakaaribn/data/workflow/data
src/whakaaribn/data/workflow/forecasts
src/whakaaribn/data/workflow/results
src/whakaaribn/data/workflow/logs
*Thumbs.db
examples
sandbox.ipynb
src/whakaaribn/data/RSAM_NZ.WIZ.10.HHZ.csv
.nfs*

